<!-- <div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
</div> -->

<div *ngIf="isLoading$" class="loader-container">
  <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
</div>
<div class="container">
  <app-header></app-header>
  <main>
    <app-navbar></app-navbar>
    <app-box-container>
      <ng-container header>
        <ng-content select="[header]"></ng-content>
      </ng-container>
      <ng-container>
        <ng-content select="[bodypart]"></ng-content>
      </ng-container>
    </app-box-container>
  </main>
  <footer>Copyrights&copy; Acheron 2022.</footer>
</div>
