<input
  type="text"
  [placeholder]="label"
  matInput
  [formControl]="myControl"
  [matAutocomplete]="auto"
  #inputValue
  value="inputValue.value"
  (keyup)="sendInputValue(inputValue.value)"
/>
<mat-icon>arrow_drop_down</mat-icon>
<mat-autocomplete
  (optionSelected)="onSelectionChanged($event)"
  #auto="matAutocomplete"
>
  <!-- <mat-option
    *ngFor="let option of filteredOptions | async"
    [value]="option.viewValue"
  >
    {{ option.viewValue }}
  </mat-option> -->

  <mat-option *ngFor="let option of parentData" [value]="option.value">
    {{ option.viewValue }}
  </mat-option>
</mat-autocomplete>
