@import 'src/scss/variables';
:host {
  width: 100%;
}
table {
  width: 98%;
}

button {
  border: 0px;
  border-radius: 3px;
  background-color: white;
}
button:hover {
  background-color: rgba(154, 168, 24, 0.5019607843137255);
}

td.mat-cell {
  text-align: center;
}

th.mat-header-cell {
  padding: 16px 0;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;

  font-weight: 500;
  color: $black;
  font-size: 0.938rem;
  text-align: center;
}

th.mat-header-cell:first-child {
  /* row border */
  border-left: 1px solid black;
}

th.mat-header-cell:last-child {
  /* row border */
  border-right: 1px solid black;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// .mat-icon {
//   transform: scale(0.8);
// }

.cont {
  //   border: red solid 1px;
  padding: 0px;
  margin: 0px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
